/* css */
/* reset */
* {
  margin: 0;
  padding: 0;
}
/* 共通 */
a:link {
  color: #1616ff;
  text-decoration: underline;
}
a:visited {
  color: #4b4bff;
}
h1 {
  margin: 0.8em 0 0.4em 0;

  font-size: 1.6rem;
  color: #444444;
}
h2 {
  margin: 0.8em 0 0.4em 0;

  font-size: 1.3rem;
  color: #555555;
}
h3 {
  margin: 0.6em 0 0.3em 0;

  font-size: 1.1em;
  color: #555555;
}
dt {
  margin: 4px 0;

  font-weight: bold;
  color: #2a2a2a;
}
ul {
  list-style-type: none;
  margin: 0.4rem 0 0.4rem 0.2rem;
}
ol {
  list-style-position: inside;
  margin: 0.4rem 0 0.4rem 0.2rem;
}
ul li {
  margin: 0.2em 0;
  padding-left: 10px;

  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAIAAAACDbGyAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAXSURBVBhXY1iGBJYvX47CBwLS+MuWAQCazzCmYadUGwAAAABJRU5ErkJggg==)
    0 0.3em no-repeat;
}
dl {
  margin: 0.4rem 0.2rem;
}
dd {
  margin-left: 5rem;
}
p {
  line-height: 1.5;
}
/* パンくずリスト */
p.bcl {
  font-size: small;
  margin-bottom: 1em;
}
/* ページ全体 */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
header.page-header {
  width: 100%;
  height: 4rem;
  background-color: #f3f3f3;
}
header.page-header h1 {
  height: 2rem;
  margin: 0;
  padding-left: 1em;

  font-size: 2rem;
  color: black;
  line-height: 4rem;

  white-space: nowrap;
}
div.page-container {
  display: flex;
}
nav.page-nav {
  flex: 0 0 10rem;
  border-right: dashed 1px #e5e5e5;
  margin-right: 3px;
}
nav.page-nav ul {
  margin-left: 1rem;
}
main.page-main {
  flex: 1 1 auto;
}
@media (max-width: 768px) {
  ul li {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  div.page-container {
    display: block;
  }
  nav.page-nav ul {
    display: flex;
    flex-flow: row wrap;

    li {
      display: block;
      flex: 30% 1 1;
    }
  }
  main.page-main {
    padding-left: 4px;
  }
}

footer.page-footer {
  width: 100%;
  background-color: #f3f3f3;
}
footer.page-footer p {
  text-indent: 10rem;
}
div.jobinfo table {
  caption {
    font-size: 0.85em;
  }
  th,
  td {
    padding-top: 2px;
    border-bottom: 1px dotted #eaeaea;
  }
  th {
    text-align: left;
    width: 9rem;
    font-weight: bold;
    color: #2a2a2a;
  }
}
/* ログ */
p.log.skill::after {
  content: '（赤いログで表示）';
  font-size: small;
  color: #ff3333;
}
p.log.system::after {
  content: '（灰色のシステムログで全員に表示）';
  font-size: small;
  color: #999999;
}

/* 詳細な仕様 */
section.nit {
  background-color: #f3f3f3;
  font-size: 0.85rem;
  margin: 1em 0;
  padding: 8px;

  h2 {
    font-size: 1.1rem;
  }
}
